body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue';
}

.header,
.intro {
    background-color: #1F2937;
}

.header img {
    height: 80px;
    width: 80px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 24px;
    display: flex;
    align-items: center;
    gap: 30px;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

.intro {
    display: flex;
    padding: 100px;
    justify-content: center;
    gap: 20px;
}

.intro img {
    height: 300px;
    width: auto;
}

.intro .title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.intro .left {
    width: 500px;
}

.intro .subtext {
    margin-bottom: 10px;
}

button {
    border: none;
    border-radius: 10px;
    background-color: #3882F6;
    font-size: 24px;
    padding: 8px 24px;
}

.information {
    text-align: center;
    padding: 32px 0 72px;
}

.subtitle {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.block .subtext {
    color: #435876;
}

.info {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 20px 0;
}

.block {
    width: 170px;
}

.block img {
    border: solid;
    border-radius: 20px;
    height: 170px;
    width: 170px;
    border-width: 4px;
    border-color: #3882F6;
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px 310px;
}

.quo {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.author {
    font-size: 24px;
    text-align: right;
    font-weight: bold;
    color: #121820;
}

.sign {
    display: flex;
    margin: 100px 200px;
    padding: 50px 120px;
    border-radius: 24px;
    background-color: #3882F6;
    justify-content: space-between;
}

.sign .title {
    color: #F9FAF8;
    font-weight: bold;
    font-size: 24px;
}

.sign button {
    border: solid;
    border-color: #F9FAF8;
}

.footer {
    background-color: #1F2937;
    text-align: center;
    padding: 40px;
}